In [2]:
import pandas as pd

### Ler arquivos

In [4]:
diretorio = '../1.arquivos'

In [38]:
#lendo arquivo csv

df_compras = pd.read_csv(f'{diretorio}/Planilha de produção - Modelo.csv', sep = ";")

### Tratamento

In [39]:
df_compras.dtypes

data               object
status             object
EAN                 int64
produto            object
Quantidade          int64
valor unitario     object
valor total        object
Unnamed: 7        float64
dtype: object

In [40]:
#Excluir coluna
df_compras = df_compras.drop(axis = 0, columns = 'Unnamed: 7')

In [41]:
df_compras['EAN'] = df_compras['EAN'].astype(str)

In [42]:
#casting valor unitario
df_compras['valor unitario'] = df_compras['valor unitario'].str.replace(',','.')
df_compras['valor unitario'] = df_compras['valor unitario'].astype(float)

In [43]:
#casting valor total
df_compras['valor total'] = df_compras['valor total'].str.replace(',','.')
df_compras['valor total'] = df_compras['valor total'].astype(float)

### Analises

In [44]:
#Resumo do valores
df_compras.describe()

       Quantidade  valor unitario  valor total
count   11.000000       11.000000    11.000000
mean     9.272727      312.038182  3025.631818
std      5.368257       81.302883  2044.460632
min      3.000000      100.000000   500.000000
25%      5.000000      295.965000  1523.600000
50%      8.000000      338.520000  2799.300000
75%     12.500000      355.260000  4182.675000
max     20.000000      400.000000  7105.200000

In [50]:
#Mediana
print('A mediana do valor unitário é', df_compras['valor unitario'].median())
print('A mediana do valor total é', df_compras['valor total'].median())
print('A mediana da quantidade é', df_compras['Quantidade'].median())

A mediana do valor unitário é 338.52
A mediana do valor total é 2799.3
A mediana da quantidade é 8.0

### Adicinar 15 a mais na quantidade

In [53]:
df_compras['Quantidade'] = df_compras['Quantidade'] + 15
df_compras

In [ ]:
#Resumo do valores
df_compras.describe()