In [1]:
import pandas as pd

## Lendo Arquivos

In [12]:
diretorio = '../bases'

In [15]:
#lendo arquivo csv

df_vendas = pd.read_csv(f'{diretorio}/vendas.csv', sep = ";")

In [24]:
#pd.read_excel(f'{diretorio}/aconchego.xlsx', sheet_name = 'Resultado', skiprows = 1)

df_aconchego = pd.read_excel(f'{diretorio}/aconchego.xlsx', sheet_name = 'Base de dados')

In [26]:
df_aconchego_csv = pd.read_csv(f'{diretorio}/aconchego.csv')

## Criando DataFrames

In [ ]:
#jeito errado
pd.DataFrame(['Larissa','Eudes','Jorge','Rebeka'], columns = ['aluno1', 'aluno1', 'aluno1', 'aluno1'])

In [38]:
#jeito certo
pd.DataFrame({'Larissa',
              'Eudes',
              'Jorge',
              'Rebeka'}, columns = ['alunos'])

    alunos
0    Eudes
1   Rebeka
2    Jorge
3  Larissa

In [35]:
#Criar dicionário cuja chave seja o nome da coluna e o dado seja uma lista com a série de dados desta coluna
dic_alunos = {'Aluno':['Larissa','Eudes','Jorge','Rebeka'],
              'Sobrenome':['Peres','Filho','Filho','Fernandes']}

In [36]:
pd.DataFrame(data = dic_alunos)

     Aluno  Sobrenome
0  Larissa      Peres
1    Eudes      Filho
2    Jorge      Filho
3   Rebeka  Fernandes

## Lendo informações sobre o DF

In [42]:
df_aconchego.shape

(229, 7)

In [44]:
df_aconchego.describe

<bound method NDFrame.describe of           DATA            MOVIMENTAÇÃO Histórico  CRÉDITO  DÉBITO  ORIGEM  \
0   2022-05-02  DÉBITO PACOTE SERVIÇOS       NaN      NaN    50.0  SICOOB
1   2022-05-02         TARIFA COBRANÇA       NaN      NaN    16.5  SICOOB
2   2022-05-03         TARIFA COBRANÇA       NaN      NaN    27.0  SICOOB
3   2022-05-04         TARIFA COBRANÇA       NaN      NaN    13.5  SICOOB
4   2022-05-05         TARIFA COBRANÇA       NaN      NaN    69.0  SICOOB
..         ...                     ...       ...      ...     ...     ...
224        NaT                     NaN       NaN      NaN     NaN  SICOOB
225        NaT                     NaN       NaN      NaN     NaN  SICOOB
226        NaT                     NaN       NaN      NaN     NaN  SICOOB
227        NaT                     NaN       NaN      NaN     NaN  SICOOB
228        NaT                     NaN       NaN      NaN     NaN  SICOOB

     CONTA
0      9.1
1      9.1
2      9.1
3      9.1
4      9.1
..     ...
224    NaN
225    NaN
226    NaN
227    NaN
228    NaN

[229 rows x 7 columns]>

In [108]:
df_aconchego.dtypes

DATA            datetime64[ns]
MOVIMENTAÇÃO            object
Histórico               object
CRÉDITO                float64
DÉBITO                 float64
ORIGEM                  object
CONTA                  float64
dtype: object

In [45]:
df_aconchego.columns

Index(['DATA', 'MOVIMENTAÇÃO', 'Histórico', 'CRÉDITO', 'DÉBITO', 'ORIGEM',
       'CONTA'],
      dtype='object')

In [54]:
#casting 
df_vendas['Valor parcela liquido'] = df_vendas['Valor parcela liquido'].str.replace('.','')

C:\Users\16103\AppData\Local\Temp/ipykernel_5896/3247991905.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_vendas['Valor parcela liquido'] = df_vendas['Valor parcela liquido'].str.replace('.','')

In [56]:
df_vendas['Valor parcela liquido'] = df_vendas['Valor parcela liquido'].str.replace(',','.')

In [58]:
df_vendas['Valor parcela liquido'] = df_vendas['Valor parcela liquido'].astype(float)

In [70]:
df_vendas['Valor parcela liquido'].median()

160.54

In [77]:
df_vendas['Data da transação'].sum()

'01/04/2022 08:1408/04/2022 14:1712/04/2022 18:1825/04/2022 08:2127/04/2022 09:1028/04/2022 18:1130/04/2022 11:4830/04/2022 11:4930/04/2022 11:4930/04/2022 11:4930/04/2022 11:4930/04/2022 11:4930/04/2022 11:4930/04/2022 11:4930/04/2022 11:49'

In [ ]:
#shape, describe

In [ ]:
#columns

In [ ]:
#count, sum, unique, nunique, min, max,mean, median

## Criando novas colunas

In [82]:
#nome do dataframe + ['nome da coluna'] = cálculo da coluna
df_vendas['Valor parcela + 200 reais'] = df_vendas['Valor parcela liquido'] + 200

## Excluindo colunas

In [90]:
#nome do dataframe .drop(axis = 0, columns = ) axis = 0 para colunas e axis = 1 para linhas
df_vendas = df_vendas.drop(axis = 0, columns = 'Produto')

In [98]:
ls_cols_invalidas = list(df_vendas.columns[:5])

In [101]:
df_vendas = df_vendas.drop(axis = 0, columns = ls_cols_invalidas)

In [104]:
df_vendas = df_vendas.drop(axis = 0, columns = ['Seu número', 'Nº ordem de pagamento','Domicílio bancário'])

## Ordenar valores

In [112]:
df_aconchego.DATA.sort_values(ascending = False)

172   2022-05-17
140   2022-05-17
65    2022-05-17
92    2022-05-17
64    2022-05-17
         ...
224          NaT
225          NaT
226          NaT
227          NaT
228          NaT
Name: DATA, Length: 229, dtype: datetime64[ns]