### <b>Exercícios - Módulo Python - Aula 2<b>

- ### <b>Questão 1</b> (Tipos de estruturas de dados)

Imprima o tipo de cada estrutura de dados

In [2]:
ls_exemplo = [4,5,1]


tp_exemplo = ('a', 'b')


dic_exemplo = {'AG':'Consultoria'}

In [6]:
print(type(ls_exemplo))
type(tp_exemplo))
type(dic_exemplo)

dict

- ### <b>Questão 2</b> (Listas)

Declare uma lista vazia e inclua o número da sua idade nela.
Dica: Voce pode declarar uma lista vazia usando colchetes sem nenhum valor dentro: <code>[]</code>

- ### <b>Questão 3</b> (Listas)

Declare uma nova lista que receba todos os itens da lista ls_valores mas sem o primeiro e o último item

In [4]:
ls_valores = [11,5, 7, 9, 44]

- ### <b>Questão 4</b> (Listas e strings)

Imprima na tela a quantidade de itens nessa lista

In [ ]:
ls_txt = ['osvbrgoaoij', 'asonoawron', 'IEJIAWGNP']

- ### <b>Questão 5</b> (Listas e strings)

Imprima na tela a quantidade de letras da string  na 1° posição da lista da questão anterior

- ### <b>Questão 6</b> (Listas)

Imprima o tipo do valor na 2° posição da lista a seguir

In [ ]:
ls_valores = [1, [4,5], 'AT', 5.5]

- ### <b>Questão 7</b> (Listas)

Concatene as listas a seguir e imprima o tamanho da nova lista

In [ ]:
ls_valores = [1,564,125,6,23,8,2,84]
ls_textos = ['faiaqg', '790', 'nonoaa', 'ubókbw']

- ### <b>Questão 8</b> (Listas)

A lista a seguir contem valores inteiros, verifique se sua idade está contida nessa lista

In [20]:
ls_idades = [35, 25245, 23, 56, 1212, 99, 104, 4, 1311, 6, 13013, 93, 26, 15, 1131, 89, 46242, 145, 2, 4, 8, 90, 45, 12, 76, 15, 34, 232,39385]

- ### <b>Questão 9</b> (Listas)

Imprima o maior e o menor valor da lista anterior

- ### <b>Questão 10</b> (Strings)

Imprima a string abaixo em caixa alta

In [7]:
txt = "python é legal"

- ### <b>Questão 11</b> (Strings)

Declare uma string com seu nome completo e imprima o tamanho do seu nome e quantos vezes a letra A aparece nele

- ### <b>Questão 12</b> (Strings)

Crie um string a apartir da string nome, mas com a primeira letra maiuscula

In [ ]:
nome = 'fernanda'

- ### <b>Questão 13</b> (Strings)

O nome anterior pertence a uma médica, normalmente os meédicos preferem ser chamados de Dr. e Dra.
Imprima uma nova string a partir da string da questão anterior com a palavra Dra. antes do nome

- ### <b>Questão 14</b> (Strings)

Imprima seu nome 100 vezes na tela, todos separados por espaço:

- ### <b>Questão 15</b> (Strings)

Abaixo há strings com separadores padrão, separa as strings por esses separadores e retorne o último valor após separá-los

In [22]:
txt = '01/05/2022'
txt2 = 'Nome|Idade|Altura'
txt3 = 'Clayton;47;1.65'